<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListaClientes</title>
</head>
<body>

    <h2>Mi Lista de Clientes</h2>

    <table>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Dirección</th>
      </tr>
      <tr>
        <td>{{cliente1.nombre}}</td>
        <td>{{cliente1.correo}}</td>
        <td>{{cliente1.direccion}}</td>
      </tr>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Dirección</th>
      </tr>
      <tr>
        <td>{{cliente2.nombre}}</td>
        <td>{{cliente2.correo}}</td>
        <td>{{cliente2.direccion}}</td>
      </tr>
    </table>
    
</body>
</html>